body {
  background-color:white;
   

}

.jumbotron{

}

.navbar{
background-color: white;
}


.myHalfCol .col-lg-6{

  width:48%; 
  margin:0 1% /* or auto */;
}
#description p {
    width:48%; 
   margin:0 1% ;
}
#MainImage img {
  width: 200px;
  position: top;
  padding: 0;
  display: block;
  border: 0;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto
}

#centeredtext p {
    padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
}

#sample-image{
  width: 420px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  display: block;
}


logo reg 


hr {
  padding: 0;
}

#social-icons {
 width: 25%;
 margin-left: auto;
 margin-right: auto;
}

.nav-pills { 
  display: block!important; 
  width: 25%
}

#bs-example-navbar-collapse-1 {
  padding: 0;
  border: 0;
}

.actionBar a {
  padding: 0;
  border: 0;
  width: 8em;
  min-height: 5em;
  display: block!important; 
  text-align: center;
  position: top;
  
}

.nav-pills { 
  display: block!important; 
  width: 25%
}

.links-container {
    text-align: center;
    display: block;
    padding-right: 20px;

}

#links-container li{
   border: 10px;
}

#links-container a {

}
ul {
    display: inline-block;
}
