 body{
	background-image: url(https://scontent-lga3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/431139_10151252949165072_994578878_n.jpg?oh=95a202463e5d91dc843f8a502c782f10&oe=56AF0DF7);
	background-position: center;
	 background-size: cover;
    background-repeat: no-repeat;
}

/*header{
    background: transparent;
  background-position: center;
   background-size: cover;
    background-repeat: no-repeat;
}*/

div.circleEffect {
  width: 240vw;
  height: 240vw;
  margin-left: -120vw;
  margin-top: -120vw;
  border-radius: 100%;
  position: absolute;
  will-change: transform;
}

